/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  color: #6b7688;
  scroll-behavior: smooth;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

/* typography */
h1 {
  font-size: 2.5rem;
  color: #030303;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

strong {
  color: #313bac;
}

.small-text {
  font-size: 0.8rem;
}

/* layout */
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.about {
  padding: 160px 0 80px 0;
}

.about .container {
  height: 100%;
}

.about .container h1 {
  text-align: center;
  margin-bottom: 1.25rem;
}

.about .container .about--cards {
  margin: 50px auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about .container .about--cards .about--card {
  width: 250px;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.about .container .about--cards .about--card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 20px;
}

.about .container .about--cards .about--card h5 {
  color: #030303;
}

.about .container .about--cards .about--card:hover {
  transform: scale(1.05);
  transition: 1s;
}
